:root {
    --color-Background: #121214;
    --color-Cards: #202024;
    --color-Light-Gray: #87868B;
    --color-Purple: #8257e6;
}

.notice {
    margin: auto;
    margin-top: 30px;
    max-width: 400px;
    text-align: center;
    background-color: var(--color-Cards);
    color: var(--color-Light-Gray);
    border: 1px dashed var(--color-Light-Gray);
    border-radius: 3px;

    padding: 25px;
    font-size: 17px;
    font-weight: 500;
}

.reposFavorite {
    margin: auto;
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    // justify-content: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
    background-color: transparent;
    border: 1px solid var(--color-Light-Gray);
    border-radius: 3px;

    span {
        display: flex;
        height: 100%;
        width: 25%;
        // background-color: orangered;
        align-items: center;
        justify-content: center;

        margin-right: 10px;
        border-right: 1px solid var(--color-Light-Gray);
    }

}

ul {
    position: relative;
    padding: 30px 60px;
    list-style: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 15px;// [column-gap] [row-gap];
    place-content: center;//[align-content] [justify-content]


    li {
        display: grid;
        grid-template-rows: auto;

        border-radius: 3px;
        padding: 10px;
        background-color: var(--color-Cards);
        
        transition: all 0.3s ease;

         // &: refere-se ao elemento onde o '&' esta contido
        &:hover {
            transform: scale(1.03);
            background-color: #EEE;

            strong {
                color: #000;
            }

        }

        strong {
            font-size: 20px;
            font-weight: 500;
            word-break: break-word;/*faz quebra de palavra*/
        }

        p {
            font-size: 14px;
            color: var(--color-Light-Gray);
            margin-top: 10px;
            word-break: break-word;/*faz quebra de palavra*/
        }

        .bottomCard {
            place-self: end start;//[align-self] [justify-self]
            margin-top: 16px;
            bottom: 0;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: var(--color-Purple);
    
                &:hover {
                    font-weight: bold;
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                background-color: #58585aaf;
                border: 2px solid #3c3c3d98;
                border-radius: 50%;
                padding: 5px;

                cursor: pointer;
                transition: all 0.3s ease;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                }

                span.favorited svg {
                    
                }
            }

            button.favorited {
                background-color: rgb(212, 132, 132);
                border: 2px solid rgb(224, 44, 44);
            }
        }

        
    }

    
}


@media only screen and (max-width: 845px) {
    ul {
        grid-template-columns: 1fr;
        padding: 30px 15px;

    }
}

@media screen and (max-width: 435px) {
    .notice {
        margin: 30px 15px;
    }
}